/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/

/*Colours used on website*/
/*black: #1A1C22*/
/*dark grey: #343A40*/
/*light grey: #6C757D*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}


/* -------------- container grid layout ---------------- */


/*screens < 600px*/

.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px minmax(155px ,auto) repeat(6,minmax(25.8px,auto)) 100px;
  grid-gap: 15px;
  height: 100%;
}



@media screen and (min-width: 600px){
    
    .container {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 100px minmax(177.5px ,auto) repeat(3,minmax(59.2px,auto)) 100px;
    }
    
    .container header {
        grid-area: 1/1/1/3;
    }
    
    .container .sidebar {
        grid-area: 2/1/3/3;
    }
    
    .container footer {
        grid-area: 6/1/6/3;
    }
}

@media screen and (min-width: 900px){
        
    .container {
      grid-template-columns: 400px 1fr 1fr;
      grid-template-rows: 100px repeat(3,minmax(123.4px,auto)) 100px;
    }
    
    .container header {
        grid-area: 1/1/1/4;
    }
    
    .container .sidebar {
        grid-area: 2/1/5/2;
    }
    
    .container footer {
        grid-area: 5/1/5/4;
    }
}


@media screen and (min-width: 1200px) {
    
    .container {
      grid-template-columns: 400px 1fr 1fr 1fr;
      grid-template-rows: 100px repeat(2,minmax(192.5px,auto)) 100px;
    }

    .container header {
      grid-area: 1/1/2/5;
    }

    .container .sidebar {
      grid-area: 2/1/4/2;
    }

    .container footer {
      grid-area: 4/1/5/5;
    }

}



/* -------------- Components ---------------- */


.sidebar{
    background-color: #6C757D;
}

.content-box {
    background-color: #343A40;
}

#header {
    background-color: #1A1C22;

}

#footer {
    background-color: #1A1C22;
}