/*---------------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------------*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    height: 100%;
    
}

/* --------------- components -----------------*/

.container {
    height: 100%;
    background-color: #f4f4f4;
    
    /*  flex container  */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

/* buttons */

#modalBtn{
    background-color: #e8581f;
    text-transform: uppercase;
    outline:none;
    color: #fff;
    font-weight: 600;
    letter-spacing: 1.5px;
    padding: 1em 2em;
    border: 0;
    border-radius: 5px;
    box-shadow: 1px 4px 8px -2px rgba(105,105,105,0.85);
    transition: .2s;
}

#modalBtn:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#modalBtn:active {
    transform:scale(1);
}

#closeBtn {
    color:#ccc;
    background: none;
    border: none;
    outline:none;
    float: right;
    font-size: 30px;
    transform: rotate(0);
    transition: .2s;
}

#closeBtn:hover{
    transform: scale(1.4) rotate(-10deg);
    cursor: pointer;
    color: #9d9d9d;
}

#closeBtn:active {
    transform: rotate(-70deg)
}

/* modal */

.modal{
    display:none;
    position:fixed;
    z-index: 1;
    left: 0; 
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.5);
    
    
    /*  flex container  */
    justify-content: center;
    align-items: center;
}

.modal-content {
    background-color: #fff;
    height: 200px;
    width: 70%;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    /*  modal animations  */
    -webkit-animation:modalopen .3s;
}

@-webkit-keyframes modalopen{
    from{ opacity: 0}
    to{ opacity: 1}
}

/* navigation */

nav {
    height: 100%;
    
    /*  flex container  */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #b4b4b4;
}

nav a:hover{
    color: #9d9d9d;
}

